<h1>Word Counter</h1>
<h2>Welcome to my Word Counting App!</h2>
<h3>How this Works</h3>
<ul>
  <li>First think of a Word and enter it in the coresponding field</li> 
  <li>Next think of and enter a sentence that inlcudes the word.</li> 
  <li>Finally click enter and the program will count how many times the word appears in your sentence.</li>
</ul>

<h2>Piece of Cake Right?!</h2>

<a href="/wordcounter/new">Get Started</a>

