<h1>Result</h1>
<ul>
  <li>Input Word:@Model.GetWord()</li>
  <li>Input Sentence:@Model.GetSentence()</li>
  <li>Word Counter:@Model.CountWords()</li>
</ul>
<a href="/wordcounter/new">Back to WordCounter</a>
<a href="/">Back to Main Page</a>